@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap')

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  display: inline-block
  color: inherit

ul
  list-style: none

img
  max-width: 100%
  display: block

svg
  display: block

body
  font-family: 'Raleway', sans-serif
  font-size: 16px
  font-weight: 400
  color: #fff

.center
  text-align: center

input, button, textarea
  color: inherit
  font-family: inherit
  font-size: inherit
  background: transparent

::placeholder
  color: inherit

::-webkit-scrollbar
  width: 5px /* ширина для вертикального скролла */
  height: 5px /* высота для горизонтального скролла */
  border-radius: 8px
  background-color: #ffb703

::-webkit-scrollbar-thumb
  background-color: #ffffff
  border-radius: 8px

::-webkit-scrollbar-thumb:hover
  background-color: #253861

::-webkit-scrollbar-button:vertical:start:decrement
  display: none
